body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header,
.head-container,
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    align-items: center;
}

.header {
    padding: 20px 200px;
    justify-content: space-between;
}

.head-container {
    padding: 100px 200px;
    justify-content: space-between;
}

.content {
    flex-direction: column;
    width: 400px;
}
.content > button {
    padding: 8px 40px;
    border-radius: 7px;
    border-style: none;
    margin-top: 15px;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 500px;
    height: 230px;
}

.footer {
    font-size: 18px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.random {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.information {
    padding: 100px;
    width: 60%;
    margin: auto;
}

.illustration {
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 10px;
    border-style: solid;
    width: 125px;
    height: 125px;
    margin: auto;
}

.subtext {
    padding: 10px;
}

.element {
    max-width: 165px;
    text-align: center;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    padding: 0 10px;
}

.secondary {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
}

.quote-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 700px;
}

.attributed-quote,
.call {
    font-weight: bold;
}

.attributed-quote {
    margin: 10px 0 0 300px;
}

.foot-container {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 900px;
    height: 200px;
    border-radius: 10px;
}

.signup-container > button {
    padding: 8px 40px;
    border-radius: 7px;
    margin-left: 100px;
    border-width: 3px;
    border-color: #F9FAF8;
    border-style: solid;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}
